.border-image {
  border-radius: 1.6rem;
  margin: 3.2rem;
}

.image {
  margin-bottom: 1.6rem;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.2s ease-in all;
  border-radius: 1.6rem;
  background: #f5f5f5;
}

.image:hover {
  cursor: zoom-in;
  box-shadow: 10px 10px 0 -3px #68c4b8;
  top: -7px;
  left: -7px;
}
